{{#> layout title="My Project" style='/assets/styles/projectStyle.css'}}

<head>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>

</head>

<div class="project-header">
        <h1>My Project</h1>
      <a class="create-project-btn" href="/create-project"> Create Project</a>
    </div>

    <hr>
    <section class="project-list" id="projectList">
    
   {{#each projects}}
   
     <div class="cardp">
     <a class="cardp-desc-link" href="/project/detail/{{this.id}}">

        <div class="cardp-dir">
          <div class="cardp-img">
            <img

              class="cardp-i"
              src="{{this.image}}"
              alt="{{this.name}}"
            />
          </div>
          
            <div class="cardp-desc">
            <div class="desc-title">
              <div class="desc-title-satu">
                <h2>{{this.name}}</h2>
                <p class="relative-time">{{getRelativeTime this.postedAt}}</p>
              </div>
              <p>Durasi: {{this.duration}} Bulan</p>
            </div>
            <div class="desc-detail">
              <p>{{this.desc}}</p>
            </div>
            <div class="desc-stack">
              {{#each this.stack}}
          {{#if (eq this "NodeJS")}}
            <i class="fa-brands fa-node-js fa-2xl"></i>
          {{/if}}
          {{#if (eq this "Golang")}}
            <i class="fa-brands fa-golang fa-2xl"></i>
          {{/if}}
          {{#if (eq this "ReactJS")}}
            <i class="fab fa-react fa-2xl"></i>
          {{/if}}
          {{#if (eq this "HTML5")}}
            <i class="fa-brands fa-html5 fa-2xl"></i>
          {{/if}}
        {{/each}}
            </div>
            <div class="desc-btn">
              <a class="btn-edit" href="/project/edit/{{this.id}}">Edit</a>

            <a class="btn-delete" href="javascript:void(0);" onclick="deleteProject('{{this.id}}')">Delete</a>

            </div>
          </div>
          
        </div>
        </a>
      </div>
      
   {{/each}}


    </section>

    <script src="/assets/javascript/alert.js"></script>
{{/layout}}
